classifier.sav
dashboardV2.py
clean_data.csv
mini_df.csv
P_7.ipynb
mlflow_model/conda.yaml
mlflow_model/MLmodel
mlflow_model/model.pkl
mlflow_model/python_env.yaml
mlflow_model/requirements.txt
__pycache__
requir.txt